@model IEnumerable<FA.JustBlog.Core.Post>

@{
    ViewBag.Title = "Posts";
}
<div class="blog_left_sidebar">
    @foreach (var item in Model)
    {
        <article class="blog_style1">
            <div class="blog_img">
                <img class="img-fluid" src="~/Content/Theme/img/home-blog/blog-1.jpg" alt="">
            </div>
            <div class="blog_text">
                <div class="blog_text_inner">
                    <a class="cat" href="#"> @Html.DisplayFor(modelItem => item.Title)</a>
                    <a href="single-blog.html"><h4>@Html.DisplayFor(modelItem => item.ShortDescription)</h4></a>
                    <p> @Html.DisplayFor(modelItem => item.Description)</p>
                    <div class="date">
                        <a href="#">
                            <i class="fa fa-calendar" aria-hidden="true"></i> Posted by
                            Post on @Html.DisplayFor(modelItem => item.PostedOn)
                            Viewed @Html.DisplayFor(modelItem => item.ViewCount) time(s)
                            With Rate @Html.DisplayFor(modelItem => item.Rate)
                        </a>
                        <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i> 05</a>
                    </div>
                </div>
            </div>
        </article>
    }
</div>
